:root {
  --white: #FFFFFF;
  --black: #000000;

  --navy-950: #303B59;
  --navy-200: #CAC9FF;
  --navy-50:  #ECF2FF;

  --blue-50:  #F3F4FD;
  --blue-800:   #1125D6;

  --yellow-400: #FFB21E;
  --yellow-50:  #FFFBF4;

  --red-400:  #FF5555;
  --red-50:   #FFF6F6;

  --green-500:  #00BB8F;
  --green-50:   #F2FCF9; 

  --font-family: "Hanken Grotesk", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: var(--font-family)
}
body {
  background: #F3F4FD;
}

#root{ 
  width: 100%;
  height: 100%;
}

button {
  background-color: var(--navy-950);
  color: var(--white);
  padding: 16.5px 106.5px;
  border-radius: 128px;
}


