:root {
  --white: #FFFFFF;
  --black: #000000;

  --navy-950: #303B59;
  --navy-200: #CAC9FF;
  --navy-50:  #ECF2FF;

  --blue-50:  #F3F4FD;
  --blue-800:   #1125D6;

  --yellow-400: #FFB21E;
  --yellow-50:  #FFFBF4;

  --red-400:  #FF5555;
  --red-50:   #FFF6F6;

  --green-500:  #00BB8F;
  --green-50:   #F2FCF9; 

  --font-family: "Hanken Grotesk", sans-serif;

  --gradient1: linear-gradient(180deg,rgba(77, 33, 201, 1) 0%, rgba(37, 33, 201, 0) 100%);
  --gradient2: linear-gradient(180deg,rgba(119, 85, 255, 1) 0%, rgba(47, 44, 233, 1) 100%);
}

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: var(--font-family);
  color: var(--navy-950);
}
html {
  font-size: 62.5%;
}
body {
  background: #F3F4FD;
}

#root{ 
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: var(--navy-950);
  color: var(--white);
  padding: 16.5px 120px;
  border-radius: 128px;
  border: none;
  cursor: pointer; 
  margin: 0 auto;
  display: inline-block;
  /* transition: all 0.1s ease;  */
}

button:hover {
  background: var(--gradient2);
}

.text-preset-1 {
  font-size: 7.2rem;
  line-height: 1;
  letter-spacing: 0px;
}
.text-preset-2 {
  font-size: 5.6rem;
  line-height: 1;
  letter-spacing: 0px;
  font-weight: 800;
}
.text-preset-3 {
  font-size: 3.2rem;
  line-height: 1.3;
  letter-spacing: 0px;
}
.text-preset-4 {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: 0px;
}
.text-preset-5__bold {
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 700;
}

.text-preset-5__medium {
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 500   ;
}
.text-preset-6__bold {
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 700;
}

.text-preset-6__medium {
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 500   ;
}


.summary {
  
  /* max-width: 375px; */
  background-color: #ffffff;
  padding: 0 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .summary {
    max-width: 686px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 0;
    border-radius: 32px;
  }
}

