.summary__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17.5px 16px;
    margin-bottom: 16px;
    border-radius: 12px;
}
.summary__item .label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.summary__item .icon {
    width: 20px;
    height: 20px;
}
.summary__item.reaction{
    background-color: var(--red-50);
}
.summary__item.reaction h3{
    color: var(--red-400);
}

.summary__item.memory{
    background-color: var(--yellow-50);
}
.summary__item.memory h3{
    color: var(--yellow-400);
}

.summary__item.verbal{
    background-color: var(--green-50);
}
.summary__item.verbal h3{
    color: var(--green-500);
}

.summary__item.visual{
    background-color: var(--blue-50);
    margin-bottom: 24px
}
.summary__item.visual h3{
    color: var(--blue-800);
}

.summary__item span.amount {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .summary__item h3, .summary__item span {
        font-size: 1.8rem;
    }
    .summary__item.visual {
        margin-bottom: 32px;
    }
}