.summary__list {
    padding: 0 30px;
    text-align: center;
}
.summary__list h2 {
    margin: 24px 0;
    text-align: left;
}

 @media screen and (min-width: 768px) {
  .summary__list  {
    width:  50%;
    max-width: 368px;
    padding: 44.5px 40px;
  }

  .summary__list h2 {
    margin-top: 0;
    font-size: 2.4rem;
    
  }
}